* {
    border: 3px solid salmon;
}
#grid-container {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.grid-item{
    flex-grow: 1;
    min-width: 20px;
    min-height: 20px;
    background-color: gray;
    /* border: 1px solid whitesmoke; */
}